.page {
  max-width: 1000px;
  height: calc(100vh - 160px);
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about {
  text-align: center;

  p {
    font-size: 1rem;
    color: var(--color-text-primary);
  }
}
