.page {
  max-width: 1000px;
  margin: 0 auto;
  height: calc(100vh - 160px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about {
  text-align: center;

  p {
    font-size: 1.5rem;
    color: #555;
  }
}
