:root {
  --foreground: #c5c6c7;
  --background: #0b0c10;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
