.container {
  padding: 0 8rem;
}

.heading {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.cardList {
  display: flex;
  gap: 1rem;
}
