.header {
  height: 80px;
  width: 100%;
  background-color: var(--background);
  border-bottom: 1px solid #1f2833;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  font-size: 2rem;
  font-weight: 800;

  a {
    color: inherit;
    text-decoration: none;
  }
}
